<!DOCTYPE html>
<html lang="en">
	<head></head>

  <body>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit"  id="main-hero-unit">
        <div id="bisection">
	        <h3>Метод бисекции</h3>
	        <p>Если корень локализован на отрезке [a,b] и f(a)f(b) < 0, то наиболее простым способом приближенного вычисления такого корня является метод бисекции. При этом данный метод отличается высокой надежностью: в случае непрерывной функции f он всегда сходится к одному из корней уравнения, расположенных на [a,b].</p>
	        <%= image_tag "/images/graph.png" %>
        </div>
        <div id="secant">
	        <h3>Метод секущих</h3>
	        <p>Пусть имеется два приближения к корню x<sub>k</sub> и x<sub>k-1</sub>. Составим уравнение секущей для функции f по этим точкам:</p>
	        <div>
	        	<%= image_tag "/images/secant_help1.png" %>
	        </div>
	        <%= image_tag "/images/graph2.png" %>
	        <p>Положим x<sub>k+1</sub> равным корню уравнения y(x)=0:</p>
	        <img src="/images/secant_main.png">
	        <p> В качестве начальных приближений можно брать концы отрезка, на котором локализован корень.</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Lumenela 2012</p>
      </footer>

    </div> <!-- /container -->

  

</body><style type="text/css"></style></html>