<!DOCTYPE html>
<html lang="en">
	<head></head>

  <body>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit"  id="main-hero-unit">
        <div id="bisection">
	        <h3>Bisection Method</h3>
	        <p>If a root is localized on an intreval [a,b] and f(a)f(b) < 0, then bisection method is the easiest way of approximate root calculation. What is more the method is highly reliable: if the function is continuous it converges to one of the roots from the given interval.</p>
	        <%= image_tag "/images/graph.png" %>
        </div>
        <div id="secant">
	        <h3>Secant Line Method</h3>
	        <p>Let x<sub>k</sub> and x<sub>k-1</sub> be approximations of a root. Lets' work out an equation of the secant line containing these two points:</p>
	        <div>
	        	<%= image_tag "/images/secant_help1.png" %>
	        </div>
	        <%= image_tag "/images/graph2.png" %>
	        <p>Let x<sub>k+1</sub> be a root of equation y(x)=0:</p>
	        <img src="/images/secant_main.png">
	        <p> As initial approximation endpoints of the interval can be taken.</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Lumenela 2012</p>
      </footer>

    </div> <!-- /container -->

  

</body><style type="text/css"></style></html>