<!DOCTYPE html>
<html lang="en">
	<head> </head>

  <body>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit"  id="main-hero-unit">
        <p>Beluarusian State University</p>
        <p>Faculty Of Applied Mathematics And Computer Science</p>
        <p>Applied Computer Science</p>
        <p>Dedunovich Svetlana</p>
      </div>

      <hr>

      <footer>
        <p>© Lumenela 2012</p>
      </footer>

    </div> <!-- /container -->

  

</body><style type="text/css"></style></html>