<!DOCTYPE html>
<html lang="en">
	<head>

    
  </head>

  <body>   

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit"  id="main-hero-unit">
        <div class="main-pic">
          <%= image_tag "/images/pic.png" %>
        </div>
        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Solve</h2>
          <p>Sovle nonlinear equations like a boss. </p>
          <p><a class="btn" href="/non_linear/solve">View details »</a></p>
        </div>
        <div class="span4">
          <h2>Learn</h2>
          <p>Learn iterative methods of solving nonlinear equations. </p>
          <p><a class="btn" href="/non_linear/help">View details »</a></p>
       </div>
        <div class="span4">
          <h2>About Author</h2>
          <p>Some info about author of this awesome nonlinear equation solver.</p>
          <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html#">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Lumenela 2012</p>
      </footer>

    </div> 

</body>
    </html>