// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-hero-unit
{
	padding: 5px;
	.btn{
		margin-left: 30px;
	}
	.main-pic{
		margin-left:230px;
	}
}

